.update-topology-control {
    font-size: 15px;
    margin-bottom: 20px;
}

.topic, .processor, .store {
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

textarea {
    vertical-align: top;
    font-size: 15px;
}